{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->

{% block content %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Tutas</h2>
            <p>Looking for a great online tutor? MyTuta will help you find one. </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->

    {% if profiles %}
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                {% for profile in profiles %}

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{% static 'img/trainers/trainer-1.jpg' %}" class="img-fluid" alt="">
                        <div class="member-content">
                            {% if profile.user.first_name %}

                            <h4>{{profile.user.first_name}} {{profile.user.last_name}}</h4>
                            {% else %}

                            <h4>{{profile.user.username}}</h4>
                            {% endif %}
                            <span>{{profile.specialty}}</span> {% if profile.bio %}

                            <p>
                                {{profile.bio|slice:100}} </p>
                            {% else %}
                            <p>User will update their infomation</p>
                            {% endif %}

                            <div class="social">
                                <a href="{{profile.t_link|safe}}"><i class="bi bi-twitter"></i></a>
                                <a href="{{profile.f_link|safe}}"><i class="bi bi-facebook"></i></a>
                                <a href="{{profile.i_link|safe}}"><i class="bi bi-instagram"></i></a>
                                <a href="{{profile.l_link|safe}}"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- 
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{% static 'img/trainers/trainer-2.jpg' %}" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Sarah Jhinson</h4>
                            <span>Marketing</span>
                            <p>
                                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{% static 'img/trainers/trainer-3.jpg' %}" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>William Anderson</h4>
                            <span>Content</span>
                            <p>
                                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

        </div>
    </section>
    {% else %}
    <!--  -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Tutas</h2>
            <p>We don't have any register tutors yet feel free to register </p>
        </div>
    </div>
    {% endif %}

    <!-- End Trainers Section -->

</main>
<!-- End #main -->

{% endblock content %}