{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->

{% block content %}
<!--  -->


<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>My Wishlist</h2>
            {% if courses %}
            <!--  -->
            <p>If you haven't enrolled in these courses make sure you do so early.</p>
            {% else %}
            <p>You haven't enrolled in any course yet.</p>
            <!--  -->
            {% endif %}
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    {% if courses %}
    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <!--  -->

                {% for course in courses %}

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="{{course.image.url}}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>{{course.category.name}}</h4>
                                <p class="price">ZAR {{course.price}}</p>
                            </div>

                            <h3><a href="{% url 'course-mk' course.id %}">{{course.name|truncatechars:"30"}}</a></h3>
                            <p>{{course.describe|truncatechars:"200"}}</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="{{course.image.url}}" class="img-fluid" alt="">
                                    <!-- <img src="{% static 'img/trainers/trainer-1.jpg' %}" class="img-fluid" alt=""> -->
                                    <span>{{course.trainer.first_name|truncatechars:"15"}}</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">

                                    {% if course.trainer == request.user %}

                                    <a href="{% url 'worker_admin:index' %}">

                                        <i class="bx bx-edit"></i>&nbsp;Edit &nbsp;&nbsp;
                                    </a>
                                    {% endif %}

                                    <i class="bx bx-user"></i>&nbsp;{{course.joins}} &nbsp;&nbsp;
                                    <!-- <i class="bx bx-heart"></i>&nbsp;{{course.likes}} -->
                                    <a href="{% url 'like_course' course.pk %}">

                                        <i class="bi bi-heart-fill"></i>&nbsp;{{course.likes}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!--  -->

                <!-- End Course Item-->

                <!--  -->
                {% comment %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <img src="{% static 'img/course-2.jpg' %}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Marketing</h4>
                                <p class="price">$250</p>
                            </div>

                            <h3><a href="{% static 'home' %}">Search Engine Optimization</a></h3>
                            <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="{% static 'course-details.html' %}" class="img-fluid" alt="">
                                    <span>Lana</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>&nbsp;35 &nbsp;&nbsp;
                                    <i class="bx bx-heart"></i>&nbsp;42
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <img src="{% static 'img/course-3.jpg' %}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Content</h4>
                                <p class="price">$180</p>
                            </div>

                            <h3><a href="{% url 'home' %}">Copywriting</a></h3>
                            <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="{% static 'img/trainers/trainer-3.jpg' %}" class="img-fluid" alt="">
                                    <span>Brandon</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>&nbsp;20 &nbsp;&nbsp;
                                    <i class="bx bx-heart"></i>&nbsp;85
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Course Item-->
                {% endcomment %}

            </div>
            <div class="row m-5" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-md-3 text-center"></div>
                <div class="col-md-6 text-center">
                    {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">

                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">

                                    <span aria-hidden="true">&laquo;</span>
                                    <!-- <span class="sr-only">Previous</span> -->
                                </a>
                            </li>

                            {% endif %}
                            <!--  -->
                            {% for i in paginator.get_elided_page_range %}
                            <!--  -->
                            {% if page_obj.number == i %}
                            <li class="active"><a class="page-link active" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            <!--  -->
                            {% endfor %}
                            <!--  -->
                            {% if page_obj.has_next %}
                            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <!-- <li class="disabled"><span>&raquo;</span></li> -->
                            {% endif %}
                        </ul>
                    </nav>

                    {% endif %}
                </div>
                <div class="col-md-3 text-center"></div>

            </div>

        </div>
    </section>
    {% endif %}
    <!-- End Courses Section -->

</main>
<!-- End #main -->


{% endblock content %}