{% extends 'base.html' %} {% load static %} {% block content %}



<!-- Mail Success-->
<section class="mail-success section page" style="padding: 200px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="mail-inner">
                    <h2 style="color: red;"><span>Payment</span> not processed</h2>
                    <p>There was a problem processing your payment.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Mail Success -->


{% endblock content %}